<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BungeeMultiConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BungeeMultiConsole.Properties.Settings>
            <setting name="xmsAmount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="xmsSuffix" serializeAs="String">
                <value>G</value>
            </setting>
            <setting name="xmxAmount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="xmxSuffix" serializeAs="String">
                <value>G</value>
            </setting>
            <setting name="xmnAmount" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="xmnSuffix" serializeAs="String">
                <value>M</value>
            </setting>
            <setting name="d64" serializeAs="String">
                <value>-d64</value>
            </setting>
        </BungeeMultiConsole.Properties.Settings>
    </userSettings>
</configuration>